.icon {
	width: 4rem;
	height:4rem;
	margin:0 0.5rem;
}

.profile {
	font-weight: 500;
	font-size: 16px;
}
.button {
	width: max-content;
	height: max-content;
	display: inline-block;
	border: 1px solid black;
	padding: 0.8rem 1.5rem;
	font-size:1.2rem;
	font-weight:500;
	margin: 0 0.5rem;
}
.login_button {
	background:white;
	&:hover {
		background-color: #69b1bb;
	}
}