@import '../../css/main.scss';
.container  {
	// background-color: aliceblue;
	height: 100vh;
}

.background {
	background-image: url('../../image/earth.jpeg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	@include MQ($M) {
		background-image: none;
	}
}

.content {
	// background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	// width: 100%;

	.wrapper {
		// border: 2px red double;
		// height: 100%;
		// width: 100%;
		padding: 100px 40px;
		box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
	}

	.input {
		margin: 20px 20px;
		height: 60px;
	}
}
