@import '../../css/main.scss';
.container {
	background-image: url('../../image/discuss.jpeg');
	justify-content: center;
	text-align: center;
	background-size: cover;
	background-position: center;
	height:500px;

	.wrapper {
		padding-top: 200px;
		padding-bottom: 100px;
	}
	.title {
		font-size: 48px;
		color: white;
		justify-content: center;
		// text-align: center;
		vertical-align: middle;
		margin-bottom: 10px;
	}
	.input {
		font-size: 18px;
		width: 30rem;
		height:3rem;
		padding: 0 0 0 10px;
		border: none;
		&:focus {
			outline: none;
		}
		@include MQ($M) {
			width:20rem;
		}
		@include MQ($L) {
			width:25rem;
		}
		
	}
	.searchButton {
		z-index: 1;
		width: 50px;
		height:3rem;
		padding: 0;
		background: black;
		border-radius: 0;
	
		&:hover {
		  background-color: gray;
		}
		.icon {
		  color: white;
		}
	}

}
