.container {
	// margin:4rem;
	// padding: 5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 80vh;
	// box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.wrapper {
	margin:2rem;
	padding: 3rem;
	border:1px dotted red;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}